
@model AppLivraria_TsT.Models.DTO.Pedido_DTO
<main role="main">
    <br />
    <br />
    <section class="container">
        <div class="row">
            <aside class="col-md-12">
                <h3 class="subtitle-doc">
                    Pedido #@ViewBag.pedido
                    <a href="#" data-html="code_simple_card" class="showcode">[code]</a>
                </h3>

                <div id="code_simple_card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Pedido realizado com sucesso </p>
                            <a href="#" class="card-link">Card link</a> <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>

            </aside>
        </div>
        
            <div class="row">
                <div id="code_itemside_img2">
                    <div class="box items-bordered-wrap">
                        
                            <figure class="itemside">
                                <div class="aside"><img src="" class="img-sm"></div>
                                <figcaption class="text-wrap align-self-center">
                                    <h6 class="title"><a href="#">fa</a></h6>
                                    <div class="price-wrap">
                                        <span class="price-new">$1280</span>
                                        <del class="price-old text-muted">$1980</del>
                                    </div>
                                </figcaption>
                            </figure>
                        
                        <figure class="itemside">
                            <div class="aside"><img src="images/items/5.jpg" class="img-sm"></div>
                            <figcaption class="text-wrap align-self-center">
                                <h6 class="title"><a href="#">Some name of item goes here nice</a></h6>
                                <div class="price-wrap">
                                    <span class="price-new">$1280</span>
                                </div> <!-- price-wrap.// -->
                            </figcaption>
                        </figure>
                        <figure class="itemside">
                            <div class="aside"><img src="images/items/6.jpg" class="img-sm"></div>
                            <figcaption class="text-wrap align-self-center">
                                <h6 class="title"><a href="#">Some name of item goes here nice</a></h6>
                                <div class="price-wrap">
                                    <span class="price-new">$1280</span>
                                </div> <!-- price-wrap.// -->
                            </figcaption>
                        </figure>
                    </div> <!-- box.// -->

                </div>
            </div>
        </section>

</main>

<!-- Bootstrap core JavaScript
          ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="resources/lib/holder/holder.min.js"></script>
<script src="resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
<script src="resources/lib/popper1.14.6/popper.min.js"></script>
<script src="resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
