@model AppLivraria_TsT.Models.DTO.ItensCarrinho_DTO
<main role="main">
    <br />
    <br />
    <section class="container">
        <div class="row">
            <aside class="col-md-12">
                <h3 class="subtitle-doc">
                    Pedido: #@ViewBag.pedido
                </h3>

                <div id="code_simple_card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ola: @Session["usuarioNome"] </h5>
                            <p class="card-text">Seu pedido foi realizado com sucesso </p>
                            @Html.ActionLink("Detalhes do pedido", "FinalizadoDetalhes1", new { id = Model.IdPedido }, new { @styles = "float-left, color: Blue" })
                            @*<a href="/Home/FinalizadoDetalhes/@Model.IdPedido" class="btn btn-sm btn-success float-left" style="margin-right: 10px;">Detalhes do pedido</a>*@
                        </div>
                    </div>

                </div>             
             </aside>
        </div>
    </section>

</main>

<!-- Bootstrap core JavaScript
          ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="resources/lib/holder/holder.min.js"></script>
<script src="resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
<script src="resources/lib/popper1.14.6/popper.min.js"></script>
<script src="resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
