@model IEnumerable<AppLivraria_TsT.Models.DTO.Pedido_DTO>

<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">

    <title>Loja Virtual - Livraria BG</title>
    <meta name="description" content="Loja Virtual em ASP.NET">
    <meta name="author" content="Nilson Jose Alcides">
    <link rel="stylesheet" href="resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    

    <!-- Custom styles for this template -->
    <link href="resources/lib/dashboard/dashboard.css" rel="stylesheet">
</head>
<br />
<body>
   
    <div class="container-fluid" style="margin-top:-3px;">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style=" background-color: #0056b3;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/PainelControle">
                                <span data-feather="home"></span>
                                Painel do Cliente <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span># Meu Cadastro</span>
                                <a class="d-flex align-items-center text-muted" href="#">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <a class="nav-link" href="/Cliente/DetalhesClientePainel/@Session["idUser"]">
                                <span data-feather="file"></span>
                                Dados cadastrais
                            </a>
                        </li>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span># Pedidos</span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <li class="nav-item">
                            <a class="nav-link" href="/Pedido/PedidoCliente/@Session["idUser"]">
                                <span data-feather="shopping-cart"></span>
                                Meus Pedidos
                            </a>
                        </li>

                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span># Dados para Entrega</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/Endereco/ListarClienteEnderecoPorID/@Session["idUser"]">
                                <span data-feather="users"></span>
                                Meus Endereços
                            </a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Year-end sale
            </a>
        </li>*@
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Painel do Cliente</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            @*<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>*@
                        </div>
                        @*<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>*@
                    </div>
                </div>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


                <canvas id="myChart" style="width:300%;max-width:700px"></canvas>

                <script>
                    var xValues = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
                    var yValues = [60, 56, 49, 55, 43, 55, 45, 52, 49, 44, 32, 45];
                    var barColors = ["#1E90FF", "#3CB371", "#664FA1", "#3CB371", "#1E90FF", "#3CB371", "#664FA1", "#3CB371", "#664FA1", "#D2691E", "#FF0000", "#664FA1"];

                    new Chart("myChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: "Minhas Comprar do ano"
                            }
                        }
                    });
                </script>                
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
              ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="resources/lib/feather/feather.js"></script>
    <script src="resources/lib/charts/charts.js"></script>
    <script src="resources/lib/dashboard/dashboard.js"></script>
</body>

</html>