
@{
    ViewBag.Title = "Sem Acesso";
    Layout = null;

}

<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
<link href="~/Content/SemAcesso.css" rel="stylesheet" />

<link rel="stylesheet" href="/Content/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/Content/resources/lib/caroussel/carousel.css" />
<link rel="stylesheet" href="/Content/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
<link rel="stylesheet" href="/Content/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
<body>

    <!-- Error Page -->
    <div class="error">
        <div class="container-floud">
            <div class="col-xs-12 ground-color text-center">
                <div class="container-error-404">
                    <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                    <div class="msg">OH!<span class="triangle"></span></div>
                </div>
                <h2 class="h1">@ViewBag.message</h2>


            </div>
            <h2 class="h1">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link " href="/Home/Index">
                            <i class="fas fa-home"></i> <span>Voltar para Ecommerce</span>
                            <h2 class="h1">Por favor entre com login de funcionário</h2>
                        </a>
                    </li>
                </ul>                
            </h2>
            
        </div>
    </div>
    <!-- Error Page -->
</body>
<script>
    function randomNum() {
        "use strict";
        return Math.floor(Math.random() * 9) + 1;
    }
    var loop1, loop2, loop3, time = 30, i = 0, number, selector3 = document.querySelector('.thirdDigit'), selector2 = document.querySelector('.secondDigit'),
        selector1 = document.querySelector('.firstDigit');
    loop3 = setInterval(function () {
        "use strict";
        if (i > 40) {
            clearInterval(loop3);
            selector3.textContent = 4;
        } else {
            selector3.textContent = randomNum();
            i++;
        }
    }, time);
    loop2 = setInterval(function () {
        "use strict";
        if (i > 80) {
            clearInterval(loop2);
            selector2.textContent = 0;
        } else {
            selector2.textContent = randomNum();
            i++;
        }
    }, time);
    loop1 = setInterval(function () {
        "use strict";
        if (i > 100) {
            clearInterval(loop1);
            selector1.textContent = 3;
        } else {
            selector1.textContent = randomNum();
            i++;
        }
    }, time);

</script>
<script src="/Content/resources/lib/holder/holder.min.js"></script>
<script src="/Content/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
<script src="/Content/resources/lib/popper1.14.6/popper.min.js"></script>
<script src="/Content/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>